A7TIJX_1004/A7TIJX_orarend.dtd

<!ELEMENT gyorki_orarend (ora*)>

    <!ELEMENT ora (id, tipus, targy, idopont, helyszin, oktato, szak)>  
        <!ATTLIST ora id ID #REQUIRED>
        <!ATTLIST ora tipus CDATA #REQUIRED>
        <!ELEMENT targy (#PCDATA)>
        <!ELEMENT idopont (nap, tol, ig)>
            <!ELEMENT nap (#PCDATA)>
            <!ELEMENT tol (#PCDATA)>
            <!ELEMENT ig (#PCDATA)>
        <!ELEMENT helyszin (#PCDATA)>
        <!ELEMENT oktato (#PCDATA)>
        <!ELEMENT szak (#PCDATA)>
